@layer base {
  :root {
    /* Light mode colors */
    --color-background: #4a5568; /* var(--color-background-light) */
    --color-text: #2d3748; /* var(--color-text-dark) */
    --color-primary-main: #ec4899; /* var(--color-primary) */
    --color-success-main: #68d391; /* var(--color-success) */
    --color-warning-main: #f6e05e; /* var(--color-warning) */
    --color-danger-main: #f56565; /* var(--color-danger) */
  }

  [data-theme="dark"] {
    /* Dark mode colors */
    --color-background: #1a202c; /* var(--color-background-dark) */
    --color-text: #f7fafc; /* var(--color-text-light) */
    --color-primary-main: #be185d; /* var(--color-primary-dark) */
    --color-success-main: #2f855a; /* var(--color-success-dark) */
    --color-warning-main: #d69e2e; /* var(--color-warning-dark) */
    --color-danger-main: #c53030; /* var(--color-danger-dark) */
  }
}
